<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>某某店家</title>
        <!-- Sets initial viewport load and disables zooming  -->
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" href="__WEBPUBLIC__/Home/css/public.css" />
        <link href="__WEBPUBLIC__/Home/css/reset.css" rel="stylesheet"/>
        <script src="__WEBPUBLIC__/Home/js/jquery.min.js"></script>
        <script type="text/javascript" src="__WEBPUBLIC__/Home/js/yxMobileSlider.js" ></script>
        <script src="__WEBPUBLIC__/Home/js/public.js"></script>
        <style>
        	
        </style>
    </head>
    <body>