<include file="Publuc/header"/>
    <body>
    	<header class="bgz colb">
    		<span class="left" linkto="javascript:history.go(-1)"></span>
    		编辑收货地址
    	</header>
		<div class="content" style="padding-top: 50px;">
			<div class="formline mat20">
				<div>
					<span class="disib" style="width: 100px;">联系人：</span>
					<input type="text" placeholder="请填写姓名"/>
				</div>
				<div>
					<span class="disib" style="width: 100px;"></span>
					<span class="top_radio iconrac pad20 on">先生</span>
					<span class="top_radio iconrac pad20">女士</span>
				</div>
				<div>
					<span class="disib" style="width: 100px;">联系电话：</span>
					<input type="text" placeholder="请填写手机号码"/>
				</div>
				<div>
					<span class="right fr"></span>
					<span class="disib" style="width: 100px;">取货地址：</span>
					<input type="text" placeholder="选择取货地址" readonly="true"/>
				</div>
				<div>
					<span class="disib" style="width: 100px;"></span>
					<input type="text" placeholder="详细地址如门牌号等"/>
				</div>
			</div>
			
			<div class="big-btn bgbtn" linkto="setorder.html">确定</div>
		</div>
    </body>
	<script type="text/javascript" src="../js/touch.min.js"></script>
</html>   
