<include file="Public/header"/>
    	<header class="bgz colb">
    		<span class="left" linkto="javascript:history.go(-1)"></span>
    		<span class="pfr mar10" linkto="orderlist.html">订单</span>
    		某某店家
    	</header>
		<div class="content">
			
			<div class="slider">
		      	<ul>
		            <li><a href="#" target="_blank"><img src="__WEBPUBLIC__/Home/img/1.png" alt="" class="width"></a></li>
		            <li><a href="#" target="_blank"><img src="__WEBPUBLIC__/Home/img/2.png" alt="" class="width"></a></li>
		            <li><a href="#" target="_blank"><img src="__WEBPUBLIC__/Home/img/3.png" alt="" class="width"></a></li>
		            <li><a href="#" target="_blank"><img src="__WEBPUBLIC__/Home/img/4.png" alt="" class="width"></a></li>
		      	</ul>
		   	</div>		   	
		   	<div class="goods">
		   		<div class="good">
		   			<div class="imgbag" linkto="goodinfo.html">
		   				<img src="__WEBPUBLIC__/Home/img/hotel.png"/>
		   			</div>
		   			<div class="goodinfo zaocan">
		   				<div class="goodname">
		   					早餐
		   				</div>
		   				<div class="level">
		   					<img src="__WEBPUBLIC__/Home/img/xing.png" />
		   					<img src="__WEBPUBLIC__/Home/img/xing.png" />
		   					<img src="__WEBPUBLIC__/Home/img/xing.png" />
		   				</div>
		   				<div class="descrip cole">
		   					口味清淡，专业营养师搭配的西式早餐，精神一上午
		   				</div>
		   				<div class="payinfo">
		   					<div class="playgley fr mat5">
		   						<!---->
				   				<span class="iconjian"></span>
				   				<span class="">1</span>
				   				<span class="iconadd"></span>
				   			</div>
		   					<font class="fs16 colr">￥8.00</font>
		   				</div>
		   			</div>
		   		</div>
		   		
		   		<div class="good">
		   			<div class="imgbag" linkto="goodinfo.html">
		   				<img src="__WEBPUBLIC__/Home/img/hotel.png"/>
		   			</div>
		   			<div class="goodinfo zaocan">
		   				<div class="goodname">
		   					早餐
		   				</div>
		   				<div class="level">
		   					<img src="__WEBPUBLIC__/Home/img/xing.png" />
		   					<img src="__WEBPUBLIC__/Home/img/xing.png" />
		   					<img src="__WEBPUBLIC__/Home/img/xing.png" />
		   				</div>
		   				<div class="descrip cole">
		   					口味清淡，专业营养师搭配的西式早餐，精神一上午
		   				</div>
		   				<div class="payinfo">
		   					<div class="playgley fr mat5">
		   						<!--当购物车数量不为 0 时，需要移除disn 类样式  -->
				   				<span class="iconjian disn"></span>
				   				<span class="disn">1</span>
				   				<span class="iconadd"></span>
				   			</div>
		   					<font class="fs16 colr">￥8.00</font>
		   				</div>
		   			</div>
		   		</div>
		   		
		   		<div class="good">
		   			<div class="imgbag" linkto="goodinfo.html">
		   				<img src="__WEBPUBLIC__/Home/img/hotel.png"/>
		   			</div>
		   			<div class="goodinfo zaocan">
		   				<div class="goodname">
		   					早餐
		   				</div>
		   				<div class="level">
		   					<img src="__WEBPUBLIC__/Home/img/xing.png" />
		   					<img src="__WEBPUBLIC__/Home/img/xing.png" />
		   					<img src="__WEBPUBLIC__/Home/img/xing.png" />
		   				</div>
		   				<div class="descrip cole">
		   					口味清淡，专业营养师搭配的西式早餐，精神一上午
		   				</div>
		   				<div class="payinfo">
		   					<div class="playgley fr mat5">
				   				<span class="iconjian disn"></span>
				   				<span class="disn">1</span>
				   				<span class="iconadd"></span>
				   			</div>
		   					<font class="fs16 colr">￥8.00</font>
		   				</div>
		   			</div>
		   		</div>
		   		
		   		<div class="good">
		   			<div class="imgbag" linkto="goodinfo.html">
		   				<img src="__WEBPUBLIC__/Home/img/hotel.png"/>
		   			</div>
		   			<div class="goodinfo zaocan">
		   				<div class="goodname">
		   					早餐
		   				</div>
		   				<div class="level">
		   					<img src="__WEBPUBLIC__/Home/img/xing.png" />
		   					<img src="__WEBPUBLIC__/Home/img/xing.png" />
		   					<img src="__WEBPUBLIC__/Home/img/xing.png" />
		   				</div>
		   				<div class="descrip cole">
		   					口味清淡，专业营养师搭配的西式早餐，精神一上午
		   				</div>
		   				<div class="payinfo">
		   					<div class="playgley fr mat5">
				   				<span class="iconjian disn"></span>
				   				<span class="disn">1</span>
				   				<span class="iconadd"></span>
				   			</div>
		   					<font class="fs16 colr">￥8.00</font>
		   				</div>
		   			</div>
		   		</div>
		   	</div>
		</div>
		<!--购物车遮罩层-->
		<div class="zhao disn">
			<div class="poab zhcon disn">
				<div class="gootitle pad0-10">
					<span class="fr cole icondel" style="padding-left:40px;">清除</span>
					<span class="bol5 pad0-10">已选列表</span>
				</div>
				<ul class="alrelist">
					<li>
						<div>
							黄焖鸡小份
							<div class="playgley fr">
				   				<span class="iconjian"></span>
				   				<span>1</span>
				   				<span class="iconadd"></span>
				   			</div>
							<span class="fr mar60 colr">￥22</span>
						</div>
					</li>
					<li>
						<div>
							黄焖鸡小份
							<div class="playgley fr">
				   				<span class="iconjian"></span>
				   				<span>1</span>
				   				<span class="iconadd"></span>
				   			</div>
							<span class="fr mar60 colr">￥22</span>
						</div>
					</li>
					<li>
						<div>
							黄焖鸡小份
							<div class="playgley fr">
				   				<span class="iconjian"></span>
				   				<span>1</span>
				   				<span class="iconadd"></span>
				   			</div>
							<span class="fr mar60 colr">￥22</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!--购物车     通过 类属性 on  激活购物车 -->
		<div class="gley on">
			<div class="gleycon">
				<span class="icongley pore">
					<span class="poab subnum">1</span>
				</span>
				<font>
					￥<span class="money">22</span>
					<span class="nomsg fs14"> | 快来选择你喜爱的早餐吧~</span>
				</font>
			</div>
			<div class="gleybtn pfr" linkto="setorder.html">
				选好了
			</div>
		</div>
    </body>
	<script type="text/javascript" src="__WEBPUBLIC__/Home/js/touch.min.js"></script>
	 <script type="text/javascript">
    		var w = document.documentElement?document.documentElement.clientWidth:document.body.clientWidth;
		$(".slider").yxMobileSlider({width:w,height:250,during:3000});
	</script></html>