<include file="Public/header"/>
    <body>
    	<header class="bgz colb">
    		订单
    	</header>
		<div class="content" style="padding-top: 50px;">
			<div class="shopbar fs14">
		   		<div>全部</div>
		   		<div class="on">待付款</div>
		   		<div>待取货</div>
		   		<div>待评价</div>
		   		<div>已完成</div>
		   </div>
			
		  	<div class="order mat10 bgb ovhid">
		  		<div class="oname">
		  			<span class="fr colr mar10">待付款</span>
		  			<span class="pad0-20 bol5">天津市红桥区河北工业大学南苑</span>
		  		</div>
		  		<div class="oinfo ovhid">
		  			<div class="fl">
		  				<img src="../img/hotel.png" />
		  			</div>
		  			<div class="ginfo">
		  				<div class="">健康荷包蛋</div>
		  				<div class="fs16">
		  					<span class="cole fr">X1</span>
		  					<span class="colr">￥69</span>
		  				</div>
		  			</div>
		  		</div>
		  		
		  		<div class="oinfo ovhid">
		  			<div class="fl">
		  				<img src="../img/hotel.png" />
		  			</div>
		  			<div class="ginfo">
		  				<div class="">健康荷包蛋</div>
		  				<div class="fs16">
		  					<span class="cole fr">X1</span>
		  					<span class="colr">￥69</span>
		  				</div>
		  			</div>
		  		</div>
		  		
		  		<div class="oinfo ovhid">
		  			<div class="fl">
		  				<img src="../img/hotel.png" />
		  			</div>
		  			<div class="ginfo">
		  				<div class="">健康荷包蛋</div>
		  				<div class="fs16">
		  					<span class="cole fr">X1</span>
		  					<span class="colr">￥69</span>
		  				</div>
		  			</div>
		  		</div>
		  		
		  		<div class="fs14 lh45 borb31 mar10">
		  			<span class="fr">共3件商品 合计：<span class="fs16">￥28.00</span></span>
		  		</div>
		  		
		  		<div class="btnarea">
		  			<span class="borbtnh fr mat10 fs12 mar10">立即付款</span>
		  			<span class="borbtnh fr mat10 fs12 mar10">取消订单</span>
		  		</div>
		  	</div>
		  	
		  	<div class="order mat10 bgb ovhid">
		  		<div class="oname">
		  			<span class="fr colr mar10">待取货</span>
		  			<span class="pad0-20 bol5">掌上金城第一取货点</span>
		  		</div>
		  		<div class="oinfo ovhid">
		  			<div class="fl">
		  				<img src="../img/hotel.png" />
		  			</div>
		  			<div class="ginfo">
		  				<div class="">健康荷包蛋</div>
		  				<div class="fs16">
		  					<span class="cole fr">X1</span>
		  					<span class="colr">￥69</span>
		  				</div>
		  			</div>
		  		</div>
		  		
		  		<div class="fs14 lh45 borb31 mar10">
		  			<span class="fr">共3件商品 合计：<span class="fs16">￥28.00</span></span>
		  		</div>
		  		
		  		<div class="btnarea">
		  			<span class="borbtnh fr mat10 fs12 mar10">立即取货</span>
		  		</div>
		  	</div>
		  	
		  	<div class="order mat10 bgb ovhid">
		  		<div class="oname">
		  			<span class="fr colr mar10">待评价</span>
		  			<span class="pad0-20 bol5">掌上金城第一取货点</span>
		  		</div>
		  		<div class="oinfo ovhid">
		  			<div class="fl">
		  				<img src="../img/hotel.png" />
		  			</div>
		  			<div class="ginfo">
		  				<div class="">健康荷包蛋</div>
		  				<div class="fs16">
		  					<span class="cole fr">X1</span>
		  					<span class="colr">￥69</span>
		  				</div>
		  			</div>
		  		</div>
		  		
		  		<div class="oinfo ovhid">
		  			<div class="fl">
		  				<img src="../img/hotel.png" />
		  			</div>
		  			<div class="ginfo">
		  				<div class="">健康荷包蛋</div>
		  				<div class="fs16">
		  					<span class="cole fr">X1</span>
		  					<span class="colr">￥69</span>
		  				</div>
		  			</div>
		  		</div>
		  		
		  		<div class="oinfo ovhid">
		  			<div class="fl">
		  				<img src="../img/hotel.png" />
		  			</div>
		  			<div class="ginfo">
		  				<div class="">健康荷包蛋</div>
		  				<div class="fs16">
		  					<span class="cole fr">X1</span>
		  					<span class="colr">￥69</span>
		  				</div>
		  			</div>
		  		</div>
		  		
		  		<div class="fs14 lh45 borb31 mar10">
		  			<span class="fr">共3件商品 合计：<span class="fs16">￥28.00</span></span>
		  		</div>
		  		
		  		<div class="btnarea">
		  			<span class="borbtnh fr mat10 fs12 mar10">立即评价</span>
		  		</div>
		  	</div>
		</div>
    </body>
	<script type="text/javascript" src="../js/touch.min.js"></script>
</html>