<include file="Publuc/header"/>
    <body>
    	<header class="bgz colb">
    		<span class="left" linkto="javascript:history.go(-1)"></span>
    		订单详情
    	</header>
    	<div class="content" style="padding: 50px 0px 20px;">
	    	<div class="labtitle">物流信息</div>
	    	<div class="lh45 bgb cole">
	    		<div class="iconotime lh25 borb31 pad10">
	    			<p>买家名称：王大伟</p>
	    			<p>联系电话：15937829783</p>
	    			<p>地点：天津市南开区鑫茂科技园区</p>
	    		</div>
	    		<div class="iconoinfo">送货时间：<span class="colz">2016.04.08 早06:30-09:30</span></div>
	    	</div>
	    	
	    	<div class="labtitle" >订单详情</div>
	    	
	    	<div class="order bgb ovhid">
		  		<div class="oname">
		  			<span class="fr colr mar10">待付款</span>
		  		</div>
		  		<div class="oinfo ovhid">
		  			<div class="fl">
		  				<img src="../img/hotel.png" />
		  			</div>
		  			<div class="ginfo">
		  				<div class="cole fs14">健康荷包蛋</div>
		  				<div class="fs16">
		  					<span class="cole fr">￥18</span>
		  					<span class="cole fr mar60">X1</span>
		  					<span class="colr">￥69</span>
		  				</div>
		  			</div>
		  		</div>
		  		
		  		<div class="oinfo ovhid">
		  			<div class="fl">
		  				<img src="../img/hotel.png" />
		  			</div>
		  			<div class="ginfo">
		  				<div class="cole fs14">健康荷包蛋</div>
		  				<div class="fs16">
		  					<span class="cole fr">￥18</span>
		  					<span class="cole fr mar60">X1</span>
		  					<span class="colr">￥69</span>
		  				</div>
		  			</div>
		  		</div>
		  		
		  		<div class="oinfo ovhid">
		  			<div class="fl">
		  				<img src="../img/hotel.png" />
		  			</div>
		  			<div class="ginfo">
		  				<div class="cole fs14">健康荷包蛋</div>
		  				<div class="fs16">
		  					<span class="cole fr">￥18</span>
		  					<span class="cole fr mar60">X1</span>
		  					<span class="colr">￥69</span>
		  				</div>
		  			</div>
		  		</div>
		  		
		  		<div class="fs14 lh45 pad0-10">
		  			<span class="fr">实付：￥28.00</span>
		  			<span class="fs16">合计：￥28.00</span>
		  		</div>
		  		
		  	</div>
	    	
	    	<div class="labtitle">订单信息</div>
	    	<div class="lh25 bgb pad10 fs12 cole">
	    		<p>订单编号：10040010020010</p>
	    		<p>下单时间：2016-04-08 20:43</p>
	    		<p>支付方式：在线支付</p>
	    	</div>
    	</div>
    	<div class="botarea bgb pad0-20">
    		<span class="borbtnh fr mat10 fs12">立即付款</span>
		  	<span class="borbtnh fr mat10 fs12 mar10">取消订单</span>
    	</div>
    </body>
</html>
