<include file="Public/header"/>
    <body>
		<div class="content pore" style="padding-bottom: 20px;">
		  	<div class="selftop bgz" style="height: 200px;">
		  		<div class="selftext">
		  			<span class="rightb fr"></span>
		  			<div class="disib fl pad0-20">
			  			<img src="__WEBPUBLIC__/Wap/img/header.png" />
			  		</div>
			  		<div class="menutext lh20 pad20">
			  			<div class="colb">离不开早餐的萌萌</div>
			  			<div class="colb fs12">150*****920</div>
			  		</div>
		  		</div>
		  	</div>
		  	<div class="intime disf iconvoline">
		   		<div>
		   			<div class="colr">66.00元</div>
		   			<div class="cole">余额</div>
		   		</div>
		   		<div>
		   			<div class="colg">100单</div>
		   			<div class="cole">单数</div>
		   		</div>
		   	</div>
		  	
		  	<div class="order mat10 bgb ovhid">
		  		<div class="oname">
		  			<span class="fr colr mar10">待付款</span>
		  			<span class="pad0-20 bol5">掌上金城第一取货点</span>
		  		</div>
		  		<div class="oinfo ovhid">
		  			<div class="fl">
		  				<img src="__WEBPUBLIC__/Wap/img/hotel.png" />
		  			</div>
		  			<div class="ginfo">
		  				<div class="">健康荷包蛋</div>
		  				<div class="fs16">
		  					<span class="cole fr">X1</span>
		  					<span class="colr">￥69</span>
		  				</div>
		  			</div>
		  		</div>
		  		
		  		<div class="oinfo ovhid">
		  			<div class="fl">
		  				<img src="__WEBPUBLIC__/Wap/img/hotel.png" />
		  			</div>
		  			<div class="ginfo">
		  				<div class="">健康荷包蛋</div>
		  				<div class="fs16">
		  					<span class="cole fr">X1</span>
		  					<span class="colr">￥69</span>
		  				</div>
		  			</div>
		  		</div>
		  		
		  		<div class="oinfo ovhid">
		  			<div class="fl">
		  				<img src="__WEBPUBLIC__/Wap/img/hotel.png" />
		  			</div>
		  			<div class="ginfo">
		  				<div class="">健康荷包蛋</div>
		  				<div class="fs16">
		  					<span class="cole fr">X1</span>
		  					<span class="colr">￥69</span>
		  				</div>
		  			</div>
		  		</div>
		  		
		  		<div class="fs14 lh45 borb31 mar10">
		  			<span class="fr">共3件商品 合计：<span class="fs16">￥28.00</span></span>
		  		</div>
		  		
		  		<div class="btnarea">
		  			<span class="borbtnh fr mat10 fs12 mar10">立即付款</span>
		  			<span class="borbtnh fr mat10 fs12 mar10">取消订单</span>
		  		</div>
		  	</div>
		  	
		  	<div class="order mat10 bgb ovhid">
		  		<div class="oname">
		  			<span class="fr colr mar10">待取货</span>
		  			<span class="pad0-20 bol5">掌上金城第一取货点</span>
		  		</div>
		  		<div class="oinfo ovhid">
		  			<div class="fl">
		  				<img src="__WEBPUBLIC__/Wap/img/hotel.png" />
		  			</div>
		  			<div class="ginfo">
		  				<div class="">健康荷包蛋</div>
		  				<div class="fs16">
		  					<span class="cole fr">X1</span>
		  					<span class="colr">￥69</span>
		  				</div>
		  			</div>
		  		</div>
		  		
		  		<div class="fs14 lh45 borb31 mar10">
		  			<span class="fr">共3件商品 合计：<span class="fs16">￥28.00</span></span>
		  		</div>
		  		
		  		<div class="btnarea">
		  			<span class="borbtnh fr mat10 fs12 mar10">立即取货</span>
		  		</div>
		  	</div>
		  	
		  	
		</div>
		<footer>
	   		<div class="on">
	   			<span>订单</span>
	   		</div>
	   		<div>
	   			<span>商品</span>
	   		</div>
		</footer>
    </body>
	<script type="text/javascript" src="__WEBPUBLIC__/Wap/js/touch.min.js"></script>
</html>   
