<include file="Public/header"/>
    <body>
    	<div class="pore bgb textcen lh45">
    		登陆
    	</div>
		<div class="conbg">
			
		   	<div class="mat10 pad20 bgb">
		   		<div class="pad0-20">
		   			<div class="blinput borad4 iconuser"><input id="username" type="text" name="username" placeholder="请输入您的手机号"/></div>
		   			<div class="blinput borad4 mat20 iconpwd"><input id="password" type="password" name="password" placeholder="请输入您的密码"/></div>
		   		</div>
		   	</div>

		   	<div class="big-btn bgbtn login">登陆</div>
		   	<div class="mat20">
		   		<span class="colr msg"></span>
		   	</div>
		</div>
    </body>
	<script type="text/javascript" src="__WEBPUBLIC__/Wap/js/touch.min.js"></script>
	<script type="text/javascript">
    $(".login").on('click',function() {
        var username = $("#username").val();
        var password = $("#password").val();
        if (username != "" && password != "") {
            $.ajax({
                url : "{:U('User/login')}",
                type : "post",
                data : { "username" : username, "password" : password},
                dataType : "json",
                success : function(res){
                		var ajaxjson = JSON.parse(res);
                    if(ajaxjson.code == "1"){
                    		window.location.href = "{:U(Index/goodlist)}";
                    }else{
                    		$(".msg").html(ajaxjson.msg);
                    }
                }
            });
        }else{
            alert("用户名或密码不能为空！");
        }
    });
	</script>
</html>