<include file="Public/header"/>
    <body>
    	<header class="bgz colb">
    		<span class="pfr mar10" linkto="{:U('Goods/addgood')}">新建</span>
    		商品管理
    	</header>
		<div class="content" style="padding: 50px 0px 60px;">
		   	
		   	<div class="goods">
		   		<volist name="goods" id="good">
		   		<div class="good">
		   			<div class="imgbag">
		   				<img src="{$good.goodpic}"/>
		   			</div>
		   			<div class="goodinfo zaocan">
		   				<div class="goodname">
		   					{$good.goodname}
		   					<div class="sales">800总销量</div>
		   				</div>
		   				<div class="descrip cole">
		   					{$good.gooddesc}
		   				</div>
		   				<div class="payinfo">
		   					<font class="fs16 colr">￥{$good.price}</font>
		   				</div>
		   				<div class="playadd pad0-20">
							<span class="fr cole icondel" gid="{$good.id}">删除</span>
							<span class="fr cole iconedi mar5" linkto="{:U('Goods/edigood')}/id/{$good.id}">编辑</span>
						</div>
		   			</div>
		   		</div>
		   		</volist>
		   	</div>
		</div>
		<footer>
	   		<div linkto="{:U('Index/self')}">
	   			<span>订单</span>
	   		</div>
	   		<div class="on">
	   			<span>商品</span>
	   		</div>
		</footer>
    </body>
	<script type="text/javascript" src="__WEBPUBLIC__/Home/js/touch.min.js"></script>
	<script>
	$(function(){
		$("[gid]").on('click',function(){
			var id = $(this).attr("gid");
			var com = confirm("您确定要删除该产品吗？将不可恢复！");
			if (com) {
				window.location.href = "{:U('Goods/delgood')}/id/"+id;
			}
		});
	});
	</script>
</html>