<include file="Public/header"/>
    <body>
    	<header class="bgz colb">
    		<span class="left" linkto="javascript:history.go(-1)"></span>
    		订单
    	</header>
		<div class="content" style="padding-top: 50px;">
			<!-- <div class="shopbar fs14">
		   		<div>全部</div>
		   		<div class="on">待付款</div>
		   		<div>待配送</div>
		   		<div>待评价</div>
		   		<div>已完成</div>
		   </div> -->
			<volist name="ordinfo" id="order">
				<div class="order mat10 bgb ovhid">
			  		<div class="oname" linkto="{:U('Order/orderinfo')}/id/{$order.id}">
			  			<span class="fr colr mar10">
			  				<if condition="$order['type'] eq 0">
			  					待付款
			  				<elseif condition="$order['type'] eq 1"/>
			  					待接单
			  				<elseif condition="$order['type'] eq 2"/>
			  					待配送
			  				<elseif condition="$order['type'] eq 3"/>
			  					待收货
			  				<elseif condition="$order['type'] eq 4"/>
			  					已完成
			  				<elseif condition="$order['type'] eq 9"/>
			  					已取消
			  				</if>
			  			</span>
			  			<span class="pad0-20 bol5">{$order.address}</span>
			  		</div>
			  		<volist name="order['goods']" id="good">
			  			<div class="oinfo ovhid" linkto="{:U('Order/orderinfo')}/id/{$order.id}">
				  			<div class="fl">
				  				<img src="{$good.goodpic}" />
				  			</div>
				  			<div class="ginfo">
				  				<div class="">{$good.goodname}</div>
				  				<div class="fs16">
				  					<span class="cole fr">X{$good.num}</span>
				  					<span class="colr">￥{$good.price}</span>
				  				</div>
				  			</div>
				  		</div>
			  		</volist>
			  		
			  		<div class="fs14 lh45 borb31 mar10">
			  			<span class="fr">共{$order.totalnum}件商品 合计：<span class="fs16">￥{$order.paymoney}</span></span>
			  		</div>
			  		
			  		<div class="btnarea">
						<if condition="$order['type'] eq 0">
				  			<span class="borbtnh fr mat10 fs12 mar10" ordid="{$order.id}" gotype="9">取消订单</span>
				  			<span class="borbtnh fr mat10 fs12 mar10" ordid="{$order.id}" gotype="1">立即支付</span>
				  		<elseif condition="$order['type'] eq 3"/>	
				  			<span class="borbtnh fr mat10 fs12 mar10" ordid="{$order.id}" gotype="4">确认收货</span>
				  		</if>
			  		</div>
			  	</div>
			</volist>
		</div>
    </body>
	<script type="text/javascript" src="__WEBPUBLIC__/Home/js/touch.min.js"></script>
	<script type="text/javascript">
		$("[ordid]").on('click',function(){
			var id = $(this).attr("ordid");
			var type = $(this).attr("gotype");
			if (id && type && id != "" && type != "") {
				if (type == 1) {
					window.location.href = "{:U('Order/updorder')}/id/"+id+"/type/1";
				}else{
					$.ajax({
						"url" : "{:U('Order/updorder')}",
						"type" : "post",
						"data" : {"id" :id,"type":type},
						"dataType" : "json",
						"success" : function( res ){
							var resjson = JSON.parse(res);
							if (resjson.code == 1) {
								alert(resjson.msg);
								window.location.reload();
							}else{
								alert("修改失败！");
							}					
						}
					});
				}
			}
		});
	</script>
</html>